/* 메인 배너 CSS - banner.css */
/********** 2-1.배너영역 ************/
#ban {
    position: relative;
    /* 부모자격 - .slide */
  }
  /* 슬라이드 박스 */
  .slide {
    position: absolute;
    top: 0;
    left: -100%; /* 왼쪽에 마지막 슬라이드가 나가있음! */
    /* 부모는? #ban */
    display: flex;
    /* 플랙스 박스 */
    width: 600%;
    height: 100%;
  }
  .slide li {
    position: relative;
    /* 배너타이틀의 부모자격! */
    flex: 1;
    /* 부모 flex박스 영역을 등분할 함!(height도 자동으로 100%) */
  }