@charset "utf-8";

/* mrs PJ : 공통 모듈 CSS - common.css */
/************ 1. 상단영역 ************/
/* 1-1. 로고박스 */
.header__logo img {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100px;
}
/* 1-2-1. 탑메뉴 */
.top-menu ul {
    /* 플렉스박스 */
    display: flex;
    /* 진행방향정렬 */
    justify-content: flex-end;
    padding: 0 10px 10px;
    width: 140px;
}
/* 1-2-2 GNB메뉴 */
.gnb{
    padding-top: 30px;
}
.gnb ul {
    /* 플렉스박스 */
    display: flex;
    /* 진행방향정렬 */
    justify-content: flex-end;
    left: 0;
}
/* GNB메뉴 a */
.gnb ul > li > a {
    font-size: 0.6rem;
    display: block;
    text-align: center;
    padding: 0px 10px 10px;
    /* 줄바꿈 방지 */
    white-space: nowrap;
}
/* GNB 상위 li 오버시 a*/
.gnb ul > li:hover > a {
    color: rgb(155, 149, 149);
    background-color: black;
}
.top-menu ul > li:hover > a {
    color: rgb(155, 149, 149);
    background-color: black;
}

.vv li > a:first-child:hover:after{
    content: "∨";
    display: inline-block;
    transform: scale(0.5, 0.3);
}

.smenu{
    position: absolute;
    left: 50%;
    /* x축방향 중앙이동 */
    transform: translateX(-50%);
    width: 100px;
    padding: 3px;
    border-radius: 5px;
    background: white;

    /* 처음에 숨기기 */
    display: none;
}
/* 상위메뉴 li에 오버시 서브메뉴 보이기 */
.vv li:hover .smenu{
    display: block;
    
}
/* 서브메뉴 가상요소로 삼각형 만들기 */
.smenu::before{
    content: '';
    position: absolute;
    top: -15px;
    left: 25%;
    transform: translateX(-180%);
    width: 20px;
    height: 15px;
    background-color: #373737;
    clip-path: polygon(0 100%, 50% 0, 100% 100%);
}
/* 서브메뉴 ol */
.smenu ol{
    border: 1px solid #ccc;
    color: #ccccccc9;
    padding: 10px;
    z-index: 3;
}
/* 서브메뉴 a */
.smenu a{
    font-size: 1.0rem;
    line-height: 1.7;
    
}
/* 서브메뉴 li오버시 a */
.smenu li:hover a{
    color: orangered;
}

/************ 2. 메인영역 ************/
#container {
    /*최상위부모*/
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 0px auto;
    padding-top: 57px;
}

#container > header {
    position: relative;
    width: 100%;
    height: 222px;
}

#container > section {
    /*슬라이드부모*/
    position: relative;
    width: 100%;
    aspect-ratio: 2/1;
    /* height: 564px; */
    overflow: hidden;
    /*넘치는 자식요소 숨기기*/
    /*    border: 2px solid red;*/
    box-sizing: border-box;
}

#slide {
    display: flex;
    /* 플렉스박스!!! */

    /*사진을 싸고 있는 슬라이드*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#slide li {
    flex-shrink: 0;
    /* 부모박스크기만큼 줄어들지 않음 -> 0 */
    flex-basis: 100%;
    /* 가로크기를 부모박스 크기에 맞춤! */
    /* height 값은 flex박스 자식요소에서
    등분할시 자동 100%임! */
}

#slide li img {
    /*이미지는 박스에 맞춤!*/
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* 이미지 비율유지 채우기! */
}

/*이동버튼*/
.abtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /*Y축 중앙이동*/
}
.abtn img {
    width: 40px;
}
/*왼쪽버튼*/
.ab1 {
    left: 50px;
}

/*오른쪽버튼*/
.ab2 {
    right: 50px;
}

/*블릿버튼*/
.indic {
    display: flex;
    /* 플렉스박스 */
    position: absolute;
    bottom: 50px;
    left: 80px;
}

.indic li {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.indic li img {
    position: absolute;
    width: 10px;
    /*이미지 겹치게*/
}

.indic li img:last-child {
    /*회색이미지만 투명하게*/
    opacity: 0;
}

/*회색블릿이미지가 보이게하는 class*/
.indic li.on img:last-child {
    /*회색이미지만 투명하게*/
    opacity: 1;
    /*우선적용!*/
}

#container > aside {
    position: relative;
    width: 467px;
    height: 564px;
    float: left;
}

@media screen and (max-width:800px){
    /* 분할개수 조정하기 */
    .indic{
        display: none;
    }
}



.contents{
    height: 2000px;
}

.WBI {
    max-width: 1000px;
    width: 100%;
    /*최상위부모*/
    position: relative;
    margin: 0px auto;
    background: #fff;
    box-sizing: border-box;
}

.cbox{
    min-width: 130px;
    clear: both;
    position: relative;
    margin: 0 auto;
}

.title{
    display: inline-block;
    width: 100px;
    
}
.title a{
    
    float: left;
    font-weight: normal;
    color: #2e2e2e;
    letter-spacing: 0.5px;
    padding-bottom: 20px;
    display: block;
    text-align: center;
    font-size: 17px;
    padding-left: 400px;
    text-align: center;
    white-space: nowrap;
}

/* w-menu */
.w-menu {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    margin-left: 15%;
    white-space: nowrap;
}
.w-menu li{
    display: inline-block;
    width: 100px;
    
}
.w-menu li > a {
    float: left;
    display: block;
    text-align: center;
    font-size: 0.6rem;
    padding: 0px 10px 10px;
    /* 줄바꿈 방지 */
    white-space: nowrap;
    margin-top: 80px;
}
.w-menu ul > li > h1 {
    font-size: 1.3rem;
}
/* #w-menu 상위 li 오버시 a*/
.w-menu li:hover > a {
    color: rgb(155, 149, 149);
}



body *{
    /* outline: 2px dashed #ccc; */
}

:root{
    /* 1. 분할개수 */
    --sp-num: 4;
    /* .2 보더색 */
    --bd-color: gray;
}
.tit{
    text-align: center;
}

.part-box{
    position: absolute;
    max-width: 1000px;
    width: 100%;
    height: 200px;
    margin: 0 auto;
    margin-top: 30px;
}

.part-box ul{
    display: flex;
    flex-wrap: wrap;
    gap: 3vw 2vw;
}
.part-box li{
    position: relative;
    flex-basis: calc((100% - 2vw*(var(--sp-num) - 1))/ var(--sp-num));
}
.part-box img{
    width: 100%;
}

.item-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    background-color:rgb(0 0 0 / 53%);
}

/* 1100이하 미디어쿼리 시작 */
@media screen and (max-width:1100px){
    /* 분할개수 조정하기 */
    :root{
        --sp-num: 3;
        --bd-color: lime;
    }
}
/* 1100이하 미디어쿼리 종료 */
/* 700이하 미디어쿼리 시작 */
@media screen and (max-width:700px){
    /* 분할개수 조정하기 */
    :root{
        --sp-num: 2;
        --bd-color: lime;
    }
}
/* 700이하 미디어쿼리 종료 */
/* 500이하 미디어쿼리 시작 */
@media screen and (max-width:500px){
    /* 분할개수 조정하기 */
    :root{
        --sp-num: 1;
        --bd-color: lime;
    }
}
/* 500이하 미디어쿼리 종료 */
/************ 3. 하단영역 ************/
