@charset "utf-8";
/* 도깨비 PJ : 메인페이지 CSS - main.css */

/* 리셋, 공통 외부 CSS 합치기 */
@import url(./reset.css);
@import url(./core.css);
@import url(./common.css);

/************ 2. 메인영역 ************/

#container {
    /*최상위부모*/
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 0px auto;
    padding-top: 57px;
}

#container > header {
    position: relative;
    width: 100%;
    height: 222px;
}

#container > section {
    /*슬라이드부모*/
    position: relative;
    width: 100%;
    aspect-ratio: 1.78/1;
    /* height: 564px; */
    overflow: hidden;
    /*넘치는 자식요소 숨기기*/
    /*    border: 2px solid red;*/
    box-sizing: border-box;
}

#slide {
    display: flex;
    /* 플렉스박스!!! */

    /*사진을 싸고 있는 슬라이드*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#slide li {
    flex-shrink: 0;
    /* 부모박스크기만큼 줄어들지 않음 -> 0 */
    flex-basis: 100%;
    /* 가로크기를 부모박스 크기에 맞춤! */
    /* height 값은 flex박스 자식요소에서
    등분할시 자동 100%임! */
}

#slide li img {
    /*이미지는 박스에 맞춤!*/
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* 이미지 비율유지 채우기! */
}

/*이동버튼*/
.abtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /*Y축 중앙이동*/
}
.abtn img {
    width: 40px;
}
/*왼쪽버튼*/
.ab1 {
    left: 50px;
}

/*오른쪽버튼*/
.ab2 {
    right: 50px;
}

/*블릿버튼*/
.indic {
    display: flex;
    /* 플렉스박스 */
    position: absolute;
    bottom: 50px;
    left: 80px;
}

.indic li {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.indic li img {
    position: absolute;
    width: 10px;
    /*이미지 겹치게*/
}

.indic li img:last-child {
    /*회색이미지만 투명하게*/
    opacity: 0;
}

/*회색블릿이미지가 보이게하는 class*/
.indic li.on img:last-child {
    /*회색이미지만 투명하게*/
    opacity: 1;
    /*우선적용!*/
}

#container > aside {
    position: relative;
    width: 467px;
    height: 564px;
    float: left;
}

@media screen and (max-width:800px){
    /* 분할개수 조정하기 */
    .indic{
        display: none;
    }
}

.contents{
    height: 2000px;
}

.WBI {
    max-width: 1000px;
    width: 100%;
    /*최상위부모*/
    position: relative;
    margin: 0px auto;
    background: #fff;
    box-sizing: border-box;
}

.cbox{
    clear: both;
    position: relative;
    margin: 0 auto;
}

.title{
    display: inline-block;
    width: 100px;
    
}
.title a{
    
    float: left;
    font-weight: normal;
    color: #2e2e2e;
    letter-spacing: 0.5px;
    padding-bottom: 20px;
    display: block;
    text-align: center;
    font-size: 17px;
    margin-left: 400px;
    white-space: nowrap;
}

/* w-menu */
.w-menu {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    margin-left: 25%;
    white-space: nowrap;
}
.w-menu li{
    display: inline-block;
    width: 100px;
    
}
.w-menu li > a {
    float: left;
    display: block;
    text-align: center;
    font-size: 0.6rem;
    padding: 0px 10px 10px;
    /* 줄바꿈 방지 */
    white-space: nowrap;
    margin-top: 80px;
}
.w-menu ul > li > h1 {
    font-size: 1.3rem;
}
/* #w-menu 상위 li 오버시 a*/
.w-menu li:hover > a {
    color: rgb(155, 149, 149);
}

:root{
    /* 1. 분할개수 */
    --sp-num: 4;
    /* .2 보더색 */
    --bd-color: gray;
}
.tit{
    text-align: center;
}

.part-box{
    position: absolute;
    max-width: 1000px;
    width: 100%;
    height: 200px;
    margin: 0 auto;
    margin-top: 30px;
}

.part-box ul{
    display: flex;
    flex-wrap: wrap;
    gap: 3vw 2vw;
}
.part-box li{
    position: relative;
    flex-basis: calc((100% - 2vw*(var(--sp-num) - 1))/ var(--sp-num));
}
.part-box img{
    width: 100%;
}

.item-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #e2caca;
    background-color:rgb(0 0 0 / 53%);
}

/* 1100이하 미디어쿼리 시작 */
@media screen and (max-width:1100px){
    /* 분할개수 조정하기 */
    :root{
        --sp-num: 3;
        --bd-color: lime;
    }
}
/* 1100이하 미디어쿼리 종료 */
/* 700이하 미디어쿼리 시작 */
@media screen and (max-width:700px){
    /* 분할개수 조정하기 */
    :root{
        --sp-num: 2;
        --bd-color: lime;
    }
}
/* 700이하 미디어쿼리 종료 */
/* 500이하 미디어쿼리 시작 */
@media screen and (max-width:500px){
    /* 분할개수 조정하기 */
    :root{
        --sp-num: 1;
        --bd-color: lime;
    }
}
/* 500이하 미디어쿼리 종료 */
/************ 3. 하단영역 ************/
