@charset "utf-8";
/* 도깨비 PJ : 메인페이지 CSS - main.css */

/* 리셋, 공통 외부 CSS 합치기 */
@import url(./reset.css);
@import url(./core.css);
@import url(./common.css);

/************ 2. 메인영역 ************/
/* body *{
    border: 1px dotted #ccc;
} */
.body{
    width:100%;
    overflow-x: hidden;
}
#container {
    /*최상위부모*/
    position: relative;
    width: 100%;
    height: 540px;
    max-width: 1000px;
    margin: 0px auto;
    padding-top: 57px;
}

#container>.c2{
    float: left;
    max-width: 700px;
    width: 100%;
    box-sizing: border-box;
}

#container > header {
    position: relative;
    width: 100%;
    height: 222px;
}

#container > .c1{
    /*슬라이드부모*/
    position: relative;
    max-width: 300px;
    aspect-ratio: 3/4;
    /* height: 564px; */
    overflow: hidden;
    /*넘치는 자식요소 숨기기*/
    /*    border: 2px solid red;*/
    box-sizing: border-box;
    float: left;
    width:100%;
}
#container > .c2{
    /*슬라이드부모*/
    position: relative;
    width: 100%;
    max-width: 450px;
    /*넘치는 자식요소 숨기기*/
    /*    border: 2px solid red;*/
    box-sizing: border-box;
    float: left;
    width:30%;
}

#slide {
    display: flex;
    /* 플렉스박스!!! */

    /*사진을 싸고 있는 슬라이드*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#slide li {
    flex-shrink: 0;
    /* 부모박스크기만큼 줄어들지 않음 -> 0 */
    flex-basis: 100%;
    /* 가로크기를 부모박스 크기에 맞춤! */
    /* height 값은 flex박스 자식요소에서
    등분할시 자동 100%임! */
}

#slide li img {
    /*이미지는 박스에 맞춤!*/
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* 이미지 비율유지 채우기! */
}

#detail {
    display: flex;
    /* 플렉스박스!!! */
    width: 100%;
    height: 100%;
}

#detail li{
    display: block;
    line-height: 30px;
    padding-left: 150px;
    max-width: 500px;
    justify-content : center;
    align-items : center;
    
}
#detail li > a {
    display: block;
    font-size: 9px;
    color: #0e0e0e;
    font-weight: normal;
    width: 500px;
}
#detail li > a:first-child {
    display: block;
    font-size: 15px;
    font-weight: bold;
    color: #0e0e0e;
    font-weight: normal;
    width: 500px;
    overflow: visible;
    padding-bottom: 10px;
}
#detail li > a:nth-child(3){
    margin-top: 30px;
    border-top: dotted 1px #2e2e2e;
    width: 100%;
}
#detail li> a:nth-child(4){
    padding-left: 300px;
    margin-top: -30px;
}
#detail li> a:nth-child(6){
    padding-left: 300px;
    margin-top: -30px;
}
#detail li> a:nth-child(8){
    padding-left: 300px;
    margin-top: -30px;
}
#detail li > a:nth-child(10){
    margin-bottom: 30px;
    border-bottom: dotted 1px #2e2e2e;
    padding-left: 300px;
    margin-top: -30px;
    width: 41%;
}


#container > aside {
    position: relative;
    width: 467px;
    height: 564px;
    float: left;
}


.contents{
    height: 2000px;
}

.WBI {
    max-width: 1000px;
    width: 100%;
    /*최상위부모*/
    position: relative;
    margin: 0px auto;
    background: #fff;
    box-sizing: border-box;
}

.cbox{
    clear: both;
    position: relative;
    margin: 0 auto;
}

.title{
    display: inline-block;
    width: 100px;
    
}
.title a{
    float: left;
    font-weight: normal;
    color: #2e2e2e;
    letter-spacing: 0.5px;
    display: block;
    text-align: center;
    font-size: 17px;
    padding-left: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
    white-space: nowrap;
}

/* w-menu */
.w-menu {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    margin-left: 15%;
    white-space: nowrap;
}
.w-menu li{
    display: inline-block;
    width: 100px;
    
}
.w-menu li > a {
    float: left;
    display: block;
    text-align: center;
    font-size: 0.6rem;
    padding: 0px 10px 10px;
    /* 줄바꿈 방지 */
    white-space: nowrap;
    margin-top: 80px;
}
.w-menu ul > li > h1 {
    font-size: 1.3rem;
}
/* #w-menu 상위 li 오버시 a*/
.w-menu li:hover > a {
    color: rgb(155, 149, 149);
}

:root{
    /* 1. 분할개수 */
    --sp-num: 4;
    /* .2 보더색 */
    --bd-color: gray;
}
.tit{
    text-align: center;
}

.part-box{
    position: absolute;
    max-width: 1000px;
    width: 100%;
    height: 200px;
    margin: 0 auto;
    margin-top: 30px;
}

.part-box ul{
    display: flex;
    flex-wrap: wrap;
    gap: 3vw 2vw;
}
.part-box li{
    position: relative;
    flex-basis: calc((100% - 2vw*(var(--sp-num) - 1))/ var(--sp-num));
}
.part-box img{
    width: 100%;
}

.item-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #e2caca;
    background-color:rgb(0 0 0 / 53%);
}

/* 1100이하 미디어쿼리 시작 */
@media screen and (max-width:1100px){
    /* 분할개수 조정하기 */
    :root{
        --sp-num: 3;
        --bd-color: lime;
    }
}
/* 1100이하 미디어쿼리 종료 */
/* 700이하 미디어쿼리 시작 */
@media screen and (max-width:700px){
    /* 분할개수 조정하기 */
    :root{
        --sp-num: 2;
        --bd-color: lime;
    }
}
/* 700이하 미디어쿼리 종료 */
/* 500이하 미디어쿼리 시작 */
@media screen and (max-width:500px){
    /* 분할개수 조정하기 */
    :root{
        --sp-num: 1;
        --bd-color: lime;
    }
}
/* 500이하 미디어쿼리 종료 */
/************ 3. 하단영역 ************/
